{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block title %}Deposits List{% endblock %}

{% block content %}
<div class="content">
    <div class="page-header">
        <div class="page-title">
            <h4>Deposits</h4>
            <h6>Manage Customer Deposits</h6>
        </div>
        <div class="page-btn">
            <a href="{% url 'deposit_create' %}" class="btn btn-added">
                <img src="{% static 'img/icons/plus.svg' %}" alt="Add" class="me-1">Add New Deposit
            </a>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="table-top">
                <div class="search-set">
                    <div class="search-path">
                        <a class="btn btn-filter" id="filter_search">
                            <img src="{% static 'img/icons/filter.svg' %}" alt="img">
                            <span><img src="{% static 'img/icons/closes.svg' %}" alt="img"></span>
                        </a>
                    </div>
                    <div class="search-input">
                        <a class="btn btn-searchset"><img src="{% static 'img/icons/search-white.svg' %}" alt="img"></a>
                    </div>
                </div>
                <div class="wordset">
                    <ul>
                        <li><a data-bs-toggle="tooltip" data-bs-placement="top" title="print"><img
                                    src="{% static 'img/icons/printer.svg' %}" alt="img"></a></li>
                        <li><a data-bs-toggle="tooltip" data-bs-placement="top" title="pdf"><img
                                    src="{% static 'img/icons/pdf.svg' %}" alt="img"></a></li>
                        <li><a data-bs-toggle="tooltip" data-bs-placement="top" title="excel"><img
                                    src="{% static 'img/icons/excel.svg' %}" alt="img"></a></li>
                    </ul>
                </div>
            </div>

            <div class="card mb-3" id="filter_inputs">
                <div class="card-body pb-0">
                    <div class="row">
                        <div class="col-lg-12 col-sm-12">
                            <form method="get" class="row">
                                <div class="col-sm-auto">
                                    {{ filter_form.customer }}
                                </div>
                                <div class="col-sm-auto">
                                    {{ filter_form.deposit_amount }}
                                </div>
                                <div class="col-sm-auto">
                                    <div class="input-group input-group">
                                        <span class="input-group-text">From:</span>
                                        {{ filter_form.date_from }}
                                    </div>
                                </div>
                                <div class="col-sm-auto">
                                    <div class="input-group input-group">
                                        <span class="input-group-text">To:</span>
                                        {{ filter_form.date_to }}
                                    </div>
                                </div>
                                <div class="col-sm-auto">
                                    {{ filter_form.deposit_type }}
                                </div>
                                <div class="col-sm-auto">
                                    {{ filter_form.deposit_status }}
                                </div>
                                <div class="col-auto align-self-end">
                                    <button type="submit" class="btn btn-primary">Filter</button>
                                    <a href="{% url 'deposit_list' %}" class="btn btn-secondary ms-2">Reset</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table datanew">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Reference</th>
                            <th>Customer</th>
                            <th>Date</th>
                            <th class="text-end">Amount</th>
                            <th class="text-end">Withdrawn</th>
                            <th class="text-end">Balance</th>
                            <th>Type</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for deposit in deposits %} {# 'deposits' is page_obj from ListView #}
                        <tr>
                            <td>{{deposit.pk}}</td>
                            <td><a href="{{ deposit.get_absolute_url }}">{{ deposit.deposit_reference }}</a></td>
                            <td>{{ deposit.customer.name|default:"N/A" }}</td>
                            <td>{{ deposit.deposit_date|date:"Y-m-d" }}</td>
                            <td class="text-end">₦{{ deposit.deposit_amount|floatformat:2|intcomma }}</td>
                            <td class="text-end">₦{{ deposit.get_total_withdrawn|floatformat:2|intcomma }}</td>
                            <td class="text-end">₦{{ deposit.remaining_balance|floatformat:2|intcomma }}</td>
                            <td>{{ deposit.get_deposit_type_display }}</td>
                            <td>
                                <span class="badges 
                                {% if deposit.deposit_status == 'active' %}bg-lightgreen
                                {% elif deposit.deposit_status == 'completed' %}bg-success text-white
                                {% elif deposit.deposit_status == 'cancelled' %}bg-lightred
                                {% else %}bg-lightgray{% endif %}">
                                    {{ deposit.get_deposit_status_display }}
                                </span>
                            </td>
                            <td>
                                <a href="{{ deposit.get_absolute_url }}" title="View Details">
                                    <img src="{% static 'img/icons/eye.svg' %}" alt="View">
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% include "mcms_app/partials/pagination.html" %}
            </div>
        </div>
    </div>
</div>
{% endblock %}