{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block title %}Sale List{% endblock %}

{% block content %}
<div class="content">
    <div class="page-header">
        <div class="page-title">
            <h4>Sale List</h4>
            <h6>Manage your sales records</h6>
        </div>
        <div class="page-btn">
            <a href="{% url 'sale_create' %}" class="btn btn-added">
                <img src="{% static 'img/icons/plus.svg' %}" alt="Add Sale" class="me-1">Add New Sale
            </a>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="table-top">
                <div class="search-set">
                    <div class="search-path">
                        <a class="btn btn-filter" id="filter_search">
                            <img src="{% static 'img/icons/filter.svg' %}" alt="img">
                            <span><img src="{% static 'img/icons/closes.svg' %}" alt="img"></span>
                        </a>
                    </div>
                    <div class="search-input">
                        <a class="btn btn-searchset"><img src="{% static 'img/icons/search-white.svg' %}" alt="img"></a>
                    </div>
                </div>
                <div class="wordset">
                    <ul>
                        <li><a data-bs-toggle="tooltip" data-bs-placement="top" title="print"><img
                                    src="{% static 'img/icons/printer.svg' %}" alt="img"></a></li>
                        <li><a data-bs-toggle="tooltip" data-bs-placement="top" title="pdf"><img
                                    src="{% static 'img/icons/pdf.svg' %}" alt="img"></a></li>
                        <li><a data-bs-toggle="tooltip" data-bs-placement="top" title="excel"><img
                                    src="{% static 'img/icons/excel.svg' %}" alt="img"></a></li>
                    </ul>
                </div>
            </div>

            <div class="card mb-3" id="filter_inputs">
                <div class="card-body pb-0">
                    <div class="row">
                        <div class="col-lg-12 col-sm-12">
                            <form method="get" class="row gy-3">
                                <div class="col-sm-auto">{{ filter_form.customer }}</div>
                                <div class="col-sm-auto">{{ filter_form.motorcycle }}</div>
                                <div class="col-sm-auto">{{ filter_form.engine_no }}</div>
                                <div class="col-sm-auto">{{ filter_form.chasis_no }}</div>
                                <div class="col-sm-auto">
                                    <div class="input-group input-group">
                                        <span class="input-group-text">From:</span>
                                        {{ filter_form.date_from }}
                                    </div>
                                </div>
                                <div class="col-sm-auto">
                                    <div class="input-group input-group">
                                        <span class="input-group-text">To:</span>
                                        {{ filter_form.date_to }}
                                    </div>
                                </div>
                                <div class="col-sm-auto">{{ filter_form.payment_type }}</div>
                                <div class="col-sm-auto">{{ filter_form.status }}</div>
                                <div class="col-auto align-self-end mt-3">
                                    <button type="submit" class="btn btn-primary ">Filter</button>
                                    <a href="{% url 'sale_list' %}" class="btn btn-secondary  ms-2">Reset</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table datanew"> {# Assuming 'datanew' class is for a JS library like DataTables #}
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Reference</th>
                            <th>Customer</th>
                            <th>Motorcycle</th>
                            <th>Engine No.</th>
                            <th>Chassis No.</th>
                            <th>Sale Date</th>
                            <th class="text-end">Final Price</th>
                            <th>Payment Type</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for sale_record in sales %} {# Assuming page_obj for pagination #}
                        <tr>
                            <td>{{sale_record.pk}}</td>
                            <td>
                                <a href="{% url 'sale_detail' pk=sale_record.pk %}">{{ sale_record.sale_reference }}</a>
                            </td>
                            <td>{{ sale_record.customer.name|default:"N/A" }}</td>
                            <td>{{ sale_record.motorcycle.name|default:"N/A" }}</td>
                            <td>{{ sale_record.engine_no }}</td>
                            <td>{{ sale_record.chassis_no }}</td>
                            <td>{{ sale_record.sale_date|date:"Y-m-d H:i" }}</td>
                            <td class="text-end">₦{{ sale_record.final_price|floatformat:2|intcomma }}</td>
                            <td>{{ sale_record.get_payment_type_display }}</td>
                            <td>
                                <span class="badges
                                    {% if sale_record.status == 'ACTIVE' %}bg-lightgreen
                                    {% elif sale_record.status == 'CANCELLED' %}bg-lightred
                                    {% else %}bg-lightgray{% endif %}">
                                    {{ sale_record.get_status_display }}
                                </span>
                            </td>
                            <td>
                                <a class="me-3" href="{% url 'sale_detail' pk=sale_record.pk %}" title="View Details">
                                    <img src="{% static 'img/icons/eye.svg' %}" alt="View">
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% include "mcms_app/partials/pagination.html" %}
        </div>
    </div>
</div>
{% endblock %}